<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="page {{ page.currentPage }}">

		<div class="container">
			<section>									
				<main role="main">
					<div class="text-section">
						<h1>{{ site.title }}</h1>
					</div>
				
					{{ content }}
				
				</main>
			</section>
			<section>
				<footer class="footer main-footer" role="contentinfo">

					<div id="inner-footer" class="wrap clearfix">


						<p class="source-org copyright">&copy; {{ 'now' | date: "%Y" }} - {{ site.title }}</p>

					</div>

				</footer>	
			</section>
			
			
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
		<script>
		  WebFont.load({
		    google: {
		      families: ['Alegreya', 'Source Sans Pro']
		    }
		  });
		</script>
		<script src="https://use.fontawesome.com/a2cb717667.js"></script>
		<script src="https://use.fontawesome.com/e586678d0f.js"></script> 
		
	</body>

</html>
